#container{
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 15vh 1fr 5vh;
    gap: 10px;
    margin: 0;
    grid-template-areas: 
    'hd hd hd'
    'as mn di'
    'as ft di';
}

#hd{
    grid-area: hd;
    background-color: white;
    
    color: #3498db;
    font-size: x-large;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.head{
    width:50%;
    height:60%;
    text-align: center;
    align-content: space-around;
}

.head img{
    width: 20%;
    height: 100%;
    display: block;
    object-fit: cover;
    padding-left: 70%;
}

#mn{
    grid-area: mn;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

main article {
    width:30%;
    height:35vh;
    background-color: #3498db;
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;
}

main article img {
    width: 100%;
    height: 60%;
    display: block;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.2s;
}

a:hover{
    font-size: xx-large;
}

#as{
    grid-area: as;
    background-color: whitesmoke;
}

#di{
    grid-area: di;
    background-color: whitesmoke;
}

#ft{
    grid-area: ft;
    background-color: whitesmoke;
}







#wrapper{
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 25vw 15vw;
    grid-template-rows: 15vh 1fr 1fr 5vh;
    gap: 10px;
    margin: 0;
    grid-template-areas: 
    'hd2 hd2 hd2'
    'di2 se2 na2'
    'mn2 mn2 na2'
    'ft2 ft2 ft2';
}

#hd2{
    grid-area: hd2;
    background-color: white;
    text-align: center;
    color: #3498db;
    font-size: x-large;
    padding-top: 10px;
}

#mn2{
    grid-area: mn2;
    background-color: white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: larger;
}

#na2{
    grid-area: na2;
    background-color: #3498db;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 20px;
}

.navi {
    width:100%;
    height:25vh;
    border-radius: 10px;
    overflow: hidden; 
}

.navi img{
    width: 100%;
    height: 30%;
    display: block;
    object-fit: cover;
}

#di2{
    grid-area: di2;
    background-color:white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: larger;
}

#se2{
    grid-area: se2;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ft2{
    grid-area: ft2;
    background-color: whitesmoke;
}






#colos{
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 60vh 1fr 5vh;
    margin: 0;
    grid-template-areas:
    'hdC'
    'seC'
    'mnC'
    'ftC'; 
    
}

#hdC{
    grid-area: hdC;
    background-color: white;
    
    color: #3498db;
    font-size: x-large;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#seC{
    grid-area: seC;
    background-image: url('../img/colo.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mnC{
    grid-area: mnC;
    background-color: white;
    padding-left: 20px;
}

#ftC{
    grid-area: ftC;
    background-color: whitesmoke;
}


h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family:'Times New Roman', Times, serif;
}